/*Style sheet for Amy's personal profile*/
body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #D162A4;
}
.sidebar {
    float: left;
    width: 180px;
    height: 1080px;
    background-color: #FF9A56;
    margin: auto;
}
#about-me {
    /*blank id for internal navigation*/
}
#projects {
    /*blank id for internal navigation*/
}
.header {
    background-color: #FF8C00;
    font-weight: 400;
    float: center;
    width: 100%;
    text-align: center;
    height: auto;
    margin-bottom: 5px;
    margin-top: 5px;
    border: solid #A30262;
    border-width: 3px;
}
.nav-bar {
    background-color: #FF8C00;
    font-weight: 400;
    float: center;
    text-align: center;
    height:auto;
    margin-top: 1%;
    margin-bottom: 1%;

    }
.nav-bar a{
    margin-left: 25px;
}
.main-about {
    float: center;
    padding-left: 200px;
    padding-right: 180px;
}
.strike{
    text-decoration: line-through;
}
.amyav {
    float: center;
    width: 20%;
    margin-left: 25%;
    margin-right: 25%;
}
