/*Style sheet for Amy's personal profile*/
body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.sidebar {
    float: left;
    width: 16%;
    height: 1080px;
    background-color: #FFED00;
    margin: auto;
}
#about-me {
    /*blank id for internal navigation*/
}
#projects {
    /*blank id for internal navigation*/
}
#earlycss {
    /*blank id for internal navigation*/
}
#boringlecture {
    /*blank id for internal navigation*/
}
.header {
    background-color: #FF8C00;
    font-weight: 400;
    float: center;
    width: 100%;
    text-align: center;
    height: auto;
    margin-bottom: 0%;
}
.nav-bar {
    background-color: #FF8C00;
    font-weight: 400;
    float: center;
    text-align: center;
    height:auto;
    margin-top: 1%;
    margin-bottom: 1%;
    }
.nav-bar a{
    margin-left: 25px;
}
.main-about {
    float: center;
    padding-left: 120px;
}
.strike{
    text-decoration: line-through;
}
.amyav {
    float: center;
    width: 20%;
    margin-left: 32%;
    margin-right: 32%;

}
